/* Weird padding issue handler */
body { padding-top: 54px; }
@media (min-width: 992px) { body { padding-top: 56px; } }

/* Style Roots */
:root {
	--primary-normal: #00FF85;
	--primary-dark: #00BF64;
	--primary-light: #FFFFFF;
	--back-dark: #585757;
	--back-darker: #212121;
	--image-header: #212121;
}

.navbar-brand { font-family: 'Shadows Into Light' !important; }

a, a:visited { color: var(--primary-normal); }
a:hover, a:focus { color: var(--primary-dark); }

.text-link, .text-link:visited { color: var(--primary-normal) !important; }
.text-link:hover, .text-link:focus { color: var(--primary-dark) !important; }

.bg-dark { background-color: var(--back-dark) !important; }

.bg-darker { background-color: var(--back-darker) !important; }
