/* Weird padding issue handler */
body { padding-top: 54px; }
@media (min-width: 992px) { body { padding-top: 56px; } }

/* Style Roots */
:root {
	--primary-normal: #00FF85;
	--primary-dark: #00BF64;
	--primary-light: #FFFFFF;
	--back-dark: #0D0D0D;
	--back-darker: #212121;
	--image-header: #212121;
}


a, a:visited { color: var(--primary-normal); }
a:hover, a:focus { color: var(--primary-dark); }

.dropdown-toggle:after { content: none }

.fa,.fas,.far,.fab { font-size: 20px; }

.navbar-brand { font-family: 'Shadows Into Light' !important; }

.buggle-font { font-family: 'Shadows Into Light' !important; }

.text-link, .text-link:visited,.text-primary { color: var(--primary-normal) !important; }
.text-link:hover, .text-link:focus { color: var(--primary-dark) !important; }

.btn { border: 0 !important }
.btn-primary { background-color: var(--primary-normal) !important; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { background-color: var(--primary-dark) !important; }

.bg-dark { background-color: var(--back-dark) !important; }

.bg-darker { background-color: var(--back-darker) !important; }

.glyph { font-size: 50px; }
