<!DOCTYPE html>
<html lang="en-US">

<head>
<title>{{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ site.description }}">
<meta name="theme-color" content="#{{ site.color }}">
<!-- OpenGraph Tags -->
<meta property="og:title" content="{{ site.title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<!-- Twitter Tags -->
<meta name="twitter:card" content="summary_large_image">
<!-- Vendor CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" crossorigin="anonymous">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.url }}/css/buggles.core.css">
<!-- Vendor JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-dark text-white">
	<!-- Navigation Top Bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-darker fixed-top">
		<div class="container">
			<a class="navbar-brand text-link" href="{{ site.url }}">{{ site.title }}</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNews" data-toggle="dropdown">News</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownNews	">
							<a class="dropdown-item text-link" href="{{ site.url }}/news">
								<span><i class="fas fa-newspaper"></i> All News</span>
							</a>
							{% for post in site.posts limit:10 %}
							<a class="dropdown-item text-link" href="{{ post.url }}">
								<span><i class="fas fa-newspaper"></i> {{ post.title }} ({{ post.date | date_to_string }})</span>
							</a>
							{% endfor %}
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ site.url }}/discord" title="Join our Discord!">Discord</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Header -->
	<div class="jumbotron text-center" style="background-image: url(img/banner.jpg); background-size: cover;">
		<h1 class="text-primary buggle-font">{{ site.title }}</h1>
		<p class="lead">{{ site.description }}</p>
	</div>
	<!-- Pages -->
	<div class="container text-center">
		<h2 class="text-primary buggle-font">About The Buggles</h2>
		<p>Buggles are a feline based alien species with special adaptations they’ve gained through generations. 
		Buggles were originally made by a small group of people back in early/mid 2016. The person who deserves 
		most credit for the original idea for Buggles is a girl named Elsie in the United Kingdom, we sadly have 
		no way of contacting her anymore however. Buggles are now lead by the current Queen Nii Nii who took over 
		lead once everyone from the original group left without a trace.</p>
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<i class="fas fa-4x fa-balance-scale mb-4"></i>
					<h3 class="h4 mb-2 text-primary">The Society</h3>
					<p class="text-muted mb-0">How do they work together?</p>
					<br>
					<a class="btn btn-primary text-dark" href="{{ site.url }}/society">Learn More &rarr;</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<i class="fas fa-4x fa-globe-americas mb-4"></i>
					<h3 class="h4 mb-2 text-primary">The Planet</h3>
					<p class="text-muted mb-0">All about the Buggle world!</p>
					<br>
					<a class="btn btn-primary text-dark" href="{{ site.url }}/planet">Learn More &rarr;</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<i class="fas fa-4x fa-biohazard mb-4"></i>
					<h3 class="h4 mb-2 text-primary">The Biology</h3>
					<p class="text-muted mb-0">How does a Buggle work?</p>
					<br>
					<a class="btn btn-primary text-dark" href="{{ site.url }}/biology">Learn More &rarr;</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<i class="fas fa-4x fa-utensils mb-4"></i>
					<h3 class="h4 mb-2 text-primary">The Diet</h3>
					<p class="text-muted mb-0">What do they eat in a harsh world?</p>
					<br>
					<a class="btn btn-primary text-dark" href="{{ site.url }}/diet">Learn More &rarr;</a>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<!-- Latest News -->
	<div class="container text-center bg-dark">
		<h2 class="text-primary buggle-font">The Latest News</h2>
		<div class="text-left">
			<div class="card-group">
				{% for post in site.posts limit:8 %}
				<div class="card">
					<img class="card-img-top" src="{{ post.image }}" alt="{{ post.title }}">
					<div class="card-body">
						<h5 class="card-title text-primary">{{ post.title }}</h5>
						<p class="card-text">{{ post.summary }}</p>
						<a class="btn btn-primary text-dark" href="{{ post.url }}">Read More &rarr;</a>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text">
							Posted: {% assign day = post.date | date: "%-d" %}
								{% case day %}
									{% when '1' or '21' or '31' %}{{ day }}st
									{% when '2' or '22' %}{{ day }}nd
									{% when '3' or '23' %}{{ day }}rd
									{% else %}{{ day }}th
								{% endcase %}
							{{ post.date | date: "of %B, %Y" }}
						</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; {{ site.title }} 2019</p>
		</div>
	</footer>
</body>
