<!DOCTYPE html>
<html lang="en-US">

<head>
<title>{{ page.title }} | {{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ page.description }}">
<meta name="theme-color" content="#{{ site.color }}">
<meta http-equiv="refresh" content="0;URL='{{ page.link }}'">
<!-- OpenGraph Tags -->
<meta property="og:title" content="{{ page.title }} | {{ site.title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<!-- Twitter Tags -->
<meta name="twitter:card" content="summary_large_image">
</head>
</html>
